h1,h2,h3,h4,h5,h6 {
  font-weight: $header-font-weight;
  text-rendering: optimizeLegibility;

  @extend %verlag_book;

  font-family: "Verlag A", "Verlag B", "Verlag", sans-serif;

  a {
    /* color: $header-link-color; */
  }
}

@include media-breakpoint-up(sm){
  h1,h2,h3,h4,h5,h6 { word-wrap: break-word;}
}

h1 {
  @include font-size($xxxlarge);
  /* color: $IGTDarkOrange;  */

  &.xlarge { @include font-size($reallybig); }
  &.xxlarge { @include font-size($tremendous); }
  &.absurd { @include font-size($absurd); }

  /* a { color: $IGTOrange; } */
}

h2 { @include font-size($xlarge); }
h3 { @include font-size($larger);}
h4 { @include font-size($large);}
h5 { @include font-size($med);}
h6 { @include font-size($norm);}

.content{
    /* h1{color: $IGTDarkOrange}
    h2{color: $IGTBlue}
    h3{color: $IGTBlue}
    h4{color: $IGTMediumBlue}
    h5{color: $IGTDarkBlue}
    h6{color: $black} */
}

@include media-breakpoint-up(sm){
  h1 { @include font-size($xlarge);}
  h2 { @include font-size($larger + 6);}
}

.subhead {
  /* color: $IGTLightGreyMed; */
  font-weight: normal;
  margin-bottom: 20px;
}

// Print styles.
// Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
// Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  p a {
    color: $body-font-color !important;
    text-decoration: underline;
    &:visited {
      color: $body-font-color !important;
      text-decoration: underline;
    }
    &[href]:after {
      content: " (" attr(href) ")";
    }
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a {
    &[href^="javascript:"]:after, &[href^="#"]:after {
      content: "";
    }
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}