.rounded-15 {
    border-radius: 15% !important;
}


.border-lightblue {
    border-color: #8DC8E8 !important;
}

.border-mediumblue {
    border-color: #1B9DDB !important;
}

.border-blue {
    border-color: #0C51A1 !important;
}

.border-darkblue {
    border-color: #003966 !important;
}

.border-yellow {
    border-color: #FEDD00;
}

.border-darkyellow {
    border-color: #FFC629 !important;
}

.border-orange {
    border-color: #FFA300 !important;
}

.border-darkorange {
    border-color: #FF671F !important;
}

.border-darkgrey {
    border-color: #323F48 !important;
}

.border-mediumgrey {
    border-color: #5B6770 !important;
}

.border-lightgrey {
    border-color: #B3B3B3 !important;
}

.border-lightergrey {
    border-color: #eaeaea !important;
}

.border-lighterblue {
    border-color: #e8f4fa !important;
}

.border-black {
    border-color: $black !important;
}

.border-white {
    border-color: $white !important;
}

.border-transparent {
    border-color: $IGTTransparent !important;
}