div#productPhoto img {
    width: 100%;
}

/* Max width for images/icons */
img.maxw-80 {
    height: 80px;
}

img.maxw-100 {
    height: 100px;
}

img.maxw-120 {
    height: 120px;
}

img.maxw-160 {
    height: 160px;
}

img.maxw-200 {
    height: 200px;
}


.card-icon-max-40 img.card-img-top{
    max-width: 40px!important;
}
.card-icon-max-60 img.card-img-top{
    max-width: 60px!important;
}
.card-icon-max-80 img.card-img-top{
    max-width: 80px!important;
}
.card-icon-max-100 img.card-img-top{
    max-width: 100px!important;
}