@mixin opacity($value){
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
  }


@mixin responsive-image($filename, $extension, $width, $height) {
  background: url('#{$get-path-to-images}#{$filename}.#{$extension}') no-repeat 0 0;
  width: $width;
  height: $height;
  background-size: $width $height;
  
  @media (-webkit-min-device-pixel-ratio: 1.25) {
    background: url('#{$get-path-to-images}#{$filename}@2x.#{$extension}') no-repeat 0 0;
    background-size: $width $height;
  }
}

@mixin responsive-image-2015($filename, $extension, $width, $height) {
  background: url('#{$get-path-to-images}2015/#{$filename}.#{$extension}') no-repeat 0 0;
  width: $width;
  height: $height;
  background-size: $width $height;
  
  @media (-webkit-min-device-pixel-ratio: 1.25) {
    background: url('#{$get-path-to-images}2015/#{$filename}@2x.#{$extension}') no-repeat 0 0;
    background-size: $width $height;
  }
}

  // Make line-height equal to an element's height

  //Form Fields (SP)
  @mixin line-and-height($height) {
    height: $height;
    line-height: $height - 2;
  }
  
  // Buttons and Tabs (SP)
  @mixin line-and-height-alt($height) {
    height: $height;
    line-height: $height;
  }