.one{@extend .col-md-1;}
.two{@extend .col-md-2;}
.three{@extend .col-md-3;}
.four{@extend .col-md-4;}
.five{@extend .col-md-5;}
.six{@extend .col-md-6;}
.eight{@extend .col-md-8;}
.seven{@extend .col-md-7;}
.nine{@extend .col-md-9;}
.ten{@extend .col-md-10;}
.eleven{@extend .col-md-11;}
.twelve{@extend .col-md-12;}

.embed-container{
    @extend .ratio;
    @extend .ratio-16x9;
}

span.btn.medium.default,
p.btn.medium.default,
span.btn.medium.defualt{
    @extend .btn;
    @extend .btn-primary;
    background-color: $IGTDarkOrange;
    border-color: $IGTDarkOrange; 
    border-radius: 4px!important;
}

span.btn.medium.default:hover,
p.btn.medium.default:hover,
span.btn.medium.defualt:hover{
    @extend .btn;
    @extend .btn-primary;
    background-color: $IGTDarkBlue;
    border-color: $IGTDarkBlue; 
    color: $white;
}

span.btn.medium.default>a,
p.btn.medium.default>a,
span.btn.medium.defualt>a{
    color: white;
} 

span.btn.medium.secondary,
p.medium.secondary.btn{
    @extend .btn;
    @extend .btn-secondary;
    background-color: $IGTMediumBlue;
    border-color: $IGTMediumBlue;
    color: white!important;
    border-radius: 4px!important;
}

p.medium.secondary.btn>a,
span.btn.medium.secondary>a{
    color: white!important;
}

a.btn.btn-light.btn-sm{
    @extend .btn;
    @extend .btn-outline-light;
}

img{
    @extend .img-fluid;
}

.row_full{
    @extend .row;
}

/* .example-content-main {
    @include make-col-ready();
  
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }
  
  .example-content-secondary {
    @include make-col-ready();
  
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
}

.col-md-8half {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
        @include make-col(8.5);
    }
}

.col-md-3half {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
        @include make-col(3.5);
    }
} */

.sub_nav_container.clearfix.full_header_content>.sub_nav>ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.sub_nav_container.clearfix.full_header_content>.sub_nav>ul>li>ul{
    @extend .breadcrumb;
}

.sub_nav_container.clearfix.full_header_content>.sub_nav>ul>li>ul>li{
    @extend .breadcrumb-item;
    font-family: $font-verlag;
    font-size: 14px;
}

.sub_nav_container.clearfix.full_header_content .sub_nav ul li ul li:after{
    content: "";
}