//IGT Custom Settings
$get-path-to-images: "../images/";

// Grid Settings
$gutter-in-px: 30px !default; 
$cols: 12 !default;
$hybrid: 16 !default;
$row-max-width: 1040px !default; //1680

// Responsiveness Settings
// -- PHONES
$min-device-width: 320px;
$phone-device-width: 558px;
$phone-all-width: 560px;
// -- TABLETS
$tablet-device-portrait: 561px;
$tablet-device-width: 1024px;
// -- DESKTOP
$desktop-device-width: 1240px;
$document-width: $row-max-width;
$max-device-width: 1680px;

// Spacing
$nav-distance:  0;
$h2_tag_bottom: 0 0 30px 0;
$p_tag_bottom: 20px;
$date: 5px;

// Typography
$font-family: "Lato", Arial, Helvetica, sans-serif;
$font-lato: "Lato", Arial, Helvetica, sans-serif;
$font-verlag: "Verlag A", "Verlag B", "Verlag", sans-serif !important;
$font-style-italic: italic;
$icons: "FontAwesome";
$font-smoothing: antialiased;

// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 300;
$header-font-weight: 400;
$body-font-weight: $font-weight-regular;
$type-font-weight: $font-weight-regular;
$link-font-weight: $font-weight-regular;
$button-font-weight: $font-weight-semibold;
$tabs-font-weight: $font-weight-semibold;

// Vertical Rhythm Spacing
$base-line-height: 26px !default;
$rhythm-spacing: .168;
$rhythm-height: .711;

/* // Modular Scale Settings
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale
$ms-ratio: $golden;	// Ratio for Modular Scale
$base-font-size: 16px !default;
$importantNum: 78px !default;
$ms-base: $base-font-size $importantNum;
// Gumby Default Scale Values: 16, 18, 26, 30, 42, 48, 68, 78, 110, 126; */ 

// Sizing
$xsmall: ms(-2);
$small: ms(-1);
$norm: ms(0);
$med: ms(1);
$large: ms(2);
$larger: ms(3);
$xlarge: ms(4);
$xxlarge: ms(5);
$xxxlarge: ms(6);
$reallybig: ms(8);
$tremendous: ms(9);
$absurd: ms(10);

// IGT Colors from https://brandcentral.igt.com/brand-identity-system
$IGTLightBlue:        #8DC7E8;
$IGTMediumBlue:       #019BE0;
$IGTBlue:             #0055B9;
$IGTDarkBlue:         #013965;
$IGTYellow:           #FEDD01;
$IGTDarkYellow:       #FEC629;
$IGTOrange:           #FF9D1A;
$IGTDarkOrange:       #FF671D;

$IGTDarkGrey:         #334149;
$IGTMediumGrey:       #5E6770;
$IGTLightGrey:        #C5C6C8;

$PlayDigitalMediumBlue: #019be0;
$PlayDigitalBlue: #0055b9;
$PlayDigitalDarkOrange: #ff9d1a;
$PlayDigitalOrange: #ff671d;

$IGTDarkestOrange:    #d4451d; // Only to be used for the PURE CORE game segmentation
$IGTLighterBlue:      #e8f4fa; // For homepage Products and Services (EO)

$IGTBlack:            #212121;
$black:               #000000;
$white:               #ffffff;
$IGTTransparent:      transparent;

$IGTLightGreyMedDark: #666666;
$IGTLightGreyDrk:     #333333;
$IGTLightGreyMed:     #999999;
$IGTGrey:             #dddddd;
$IGTLighterGreyAlt:   #e1e1e1;
$IGTLighterGrey:      #e0e0e0;
$IGTLightestGrey:     #eaeaea;
$IGTBackgroundGrey:   #f5f5f5;

$IGTRed:              #e74c3c;
$IGTGreen:            #2ecc71;
$IGTBrownAlt:    	  #d77804; // Only to be used for the FRUIT GAMES game segmentation
$IGTDarkGreyAlt:	  #5a6770; // Only to be used for the LINKED CORE game segmentation

// IGT Colors Less
$IGTLightBlueLess:    #97d4ef;
$IGTMediumBlueLess:   #33b2e7;
$IGTBlueLess:         #3374b9;
$IGTDarkBlueLess:     #336187;
$IGTYellowLess:       #ffe433;
$IGTDarkYellowLess:   #ffd133;
$IGTOrangeLess:       #ffb233;
$IGTDarkOrangeLess:   #ff7b33;

// IGT Hover Colors
$IGTLightBlueHover:   #6fb5d3;
$IGTMediumBlueHover:  #008fca;
$IGTBlueHover:        #004896;
$IGTDarkBlueHover:    #00335f;
$IGTYellowHover:      #e5c600;
$IGTDarkYellowHover:  #e5b100;
$IGTOrangeHover:      #e58f00;
$IGTDarkOrangeHover:  #e55100;

// Transparent Background
$black-opacity-95: rgba(0, 0, 0, .95);
$black-opacity-90: rgba(0, 0, 0, .9);
$black-opacity-85: rgba(0, 0, 0, .85);
$black-opacity-80: rgba(0, 0, 0, .8);
$black-opacity-75: rgba(0, 0, 0, .75);
$black-opacity-70: rgba(0, 0, 0, .7);
$black-opacity-65: rgba(0, 0, 0, .65);
$black-opacity-60: rgba(0, 0, 0, .60);
$black-opacity-55: rgba(0, 0, 0, .55);
$black-opacity-50: rgba(0, 0, 0, .5);
$black-opacity-45: rgba(0, 0, 0, .45);
$black-opacity-40: rgba(0, 0, 0, .4);
$black-opacity-35: rgba(0, 0, 0, .35);
$black-opacity-30: rgba(0, 0, 0, .3);
$black-opacity-25: rgba(0, 0, 0, .25);
$black-opacity-20: rgba(0, 0, 0, .2);
$black-opacity-15: rgba(0, 0, 0, .15);
$black-opacity-10: rgba(0, 0, 0, .1);
$black-opacity-5: rgba(0, 0, 0, .05);

$white-opacity-30: rgba(255, 255, 255, .3);

// Typography Colors
$header-font-color:        $IGTBlue !default; //NEW IGT BLUE
$header-link-color:        $IGTBlue !default; //NEW IGT BLUE
$header-link-hover-color:  $IGTBlue !default; //NEW IGT BLUE
$body-font-color:          #2c2c2c !default;
$body-link-color:          $IGTMediumBlue !default; //NEW IGT MEDIUM BLUE
$body-link-hover-color:    $IGTBlue !default; //NEW IGT BLUE

// User Interface Colors
$global-bg-color:          $white;
$navbar-color:             $white;
$navbar-link-color:        $white;
$primary-color:            $IGTBlue;
$secondary-color:          $IGTLightGreyMedDark;
$default-color:            $IGTLightGrey;
$info-color:               #4a4d50;
$danger-color:             #ca3838;
$warning-color:            $IGTDarkOrange;
$success-color:            #58c026;
$primary-hover-color:      $IGTBlue;
$secondary-hover-color:    $IGTLightGrey;
$default-hover-color:      $IGTBlue;
$info-hover-color:         #868d92;
$danger-hover-color:       #f14f4f;
$warning-hover-color:      #fdd27f;
$success-hover-color:      #66d92f;
$search-url-color:         #006621;
$horizontal-rule-color:    $IGTLightGrey !default;

// Borders
$button-radius:  0;
$metro-radius:   0 !default;
$bigger-radius:  0;

// Buttons
// Font Sizing
$xlarge-button-font-size:  $larger;
$large-button-font-size:   $large;
$medium-button-font-size:  $norm;
$small-button-font-size:   $small;

// Padding
$default-button-padding: 20px;

// Height
/* $default-button-height: ms($ms-ratio, $medium-button-font-size) + 1; */

// Form Elements
$form-text-input-stroke: #ccc;
$form-text-input-background: $white;
$form-text-input-placeholder-color: $default-color;
$form-text-input-color: #555;
$form-select-stroke: #ccc;
$form-select-background: $white;
$form-select-color: #555;

// Tabs
/* $tab-height: ms($ms-ratio, $medium-button-font-size) + 1; */

// Navigation
$navcontain-height: 80px;

// Drawers & Modals
$modal-overlay-color: rgba(0, 0, 0, 0.8);
$modal-window-color: $white;
$drawer-background-color: #3e4144;
$drawer-inner-shadow-x-offset: 0;
$drawer-inner-shadow-y-offset: 2px;
$drawer-inner-shadow-blur: 5px;
$drawer-inner-shadow-color: #313436;

// Tables
$table-bgcolor: $white;
$table-thead-bgcolor: $primary-color;
$table-row-first-cell-font-weight: normal;
$table-border-size: 1px;
$table-border-style: solid;
$table-border-color: $IGTLighterGrey;
$table-cell-border-size: 1px; 
$table-cell-border-color: $IGTLighterGrey;
$table-cell-border-style: solid;

// .rounded
$table-border-radius: 0;

// .striped
$table-stripe-bgcolor: $IGTLighterGrey;

// Tooltips -- NO LONGER USED (SP)
$tt-min-width: 150px;
$tt-bgcolor: $white;
$tt-text-color: $IGTBlue;
$tt-position: top;
$tt-align: right;
$tt-pretty: no;

// Floats
$default-float: left;
$switch-float: right; 

