// ----------------------------------------------------- PANEL 2 - Hero Banner

#hp-owl-carousel-1,
#hp-owl-carousel-2 {
  width: 100%;
  height: 100%;

  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    background: none;
    margin: -30px 0 0 0;
    padding: 0;
    
    @include media-breakpoint-down(sm){ 
      display: none;
      visibility: hidden;
    }

    button {
      background: rgba($black, 0.15);
      cursor: pointer;
      border: none;
      -webkit-appearance: none;
      border-radius: 0 !important;
      padding: 0;
      margin: 0;
      height: 60px;
      width: 30px;
      text-align: center;
      line-height: 60px;
      outline: 0;
      z-index: 1;

      &:focus { outline: 0; }
      &:hover { background: rgba($black, 0.5); }

      i {
        font-size: 20px;
        color: $white;
        padding: 0;
        margin: 0;
        display: block;
        text-align: center;
        line-height: 60px;
      }

      &.owl-prev {
        float: left;
        z-index: 9999;
      }

      &.owl-next {
        float: right;
        z-index: 9999;          
      }
    }
  }
  
  .owl-dots {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
  }

  .owl-item {
    width: 100%;
    height: 100%;
    position: relative;

    .item {
      display: block;
      z-index: 2;

      a {
        display: block;
        position: relative;
        min-height: 100%;
        cursor: pointer;
        margin: 0;
        padding: 0;

        video,
        img {
          width: 100%;
          height: auto;
          font-size: 0;
          padding: 0;
          margin: 0;
          display: block;
          font-size: 0;
          
          @include media-breakpoint-down(sm){ z-index: 9998; }
        }

        .wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          
          @include media-breakpoint-down(sm){ z-index: 9999; }

          .wrapper_inner {
            display: table;
            height: 100%;
            width: 100%;

            .container {
              display: table-cell;
              height: 100%;
              width: 100%;
              vertical-align: middle;
              padding: 0 10% 0 60%;
              
              h2, p { color: $white; }
              p { margin: 0; }
              
              p.btn {
                margin-top: 25px !important;
                height: 35.85532px;
                line-height: 35.85532px;
                background: $white;
                color: $IGTDarkOrange;

                &:hover {
                  background: $IGTDarkOrange;
                  color: $white;
                }

                @include media-breakpoint-down(lg){
                  height: 26px;
                  line-height: 26px;
                }
                
                @include media-breakpoint-down(sm){
                  display: none;
                  visibility: hidden;
                }

                span {
                  height: 35.85532px;
                  line-height: 35.85532px;
                  padding: 0 20px;

                  @include media-breakpoint-down(lg){
                    height: 26px;
                    line-height: 26px;
                    padding: 0 10px;
                  }

                  @include media-breakpoint-down(sm){
                    height: 26px;
                    line-height: 26px;
                    padding: 0 10px;
                  }
                }
              }

              @include media-breakpoint-down(sm){ padding: 0 10% 0 35%; }
            }            
          }
        }
      }
      
      &.wrapper_left {
        a {
          .wrapper {
            .wrapper_inner {
              .container {
                padding: 0 60% 0 10%;
                
                @include media-breakpoint-down(sm){ padding: 0 35% 0 10%; }
              }
            }
          }
        }
      }
      
      &.wrapper_center {
        a {
          .wrapper {
            .wrapper_inner {
              .container {
                padding: 0 5%;
                text-align: center;
  
                p, h2, h3 {
                  text-align: center !important;
  
                  @include media-breakpoint-down(lg){
                    max-width: 500px;
                    margin: 0 auto;
                  }
  
                  @include media-breakpoint-down(sm){
                    max-width: 300px;
                    margin: 0 auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// secondary banner styling
#hp-owl-carousel-1 {
  .owl-dots {
    .owl-dot {
      &:before { color: $white; }
    }
  }
  
  .owl-item {
    @include media-breakpoint-down(sm){
      max-height: 250px;
      height: 250px;
      position: relative;
      overflow: hidden;
      width: 100%;
      
      .item {
        &.wrapper_left {
          img { @include media-breakpoint-down(sm){ transform: translate(-55%, -50%) !important;; } }
        }
        
        &.wrapper_center {
          img { @include media-breakpoint-down(sm){ transform: translate(-50%, -50%) !important;; } }          
        }
        
        
        a {
          height: 250px;
          width: 100%;
          
          .wrapper {
            background: rgba($black, 0.35);
          }
        }
      }
      
      img,
      video {
        min-height: 250px !important;
        min-width: 100% !important;
        max-width: none !important;
        max-height: none !important;
        width: auto !important;
        height: 250px !important;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
        display: block;
        object-fit: cover;
      }
    } 
  }
}

// secondary banner styling
#hp-owl-carousel-2 {
  
  .owl-dots {
    .owl-dot {
      &:before { color: $IGTLightGrey; }
    }
  }
  
  .owl-item {
    .item {
      a {
        .wrapper {
          .wrapper_inner {
            .container {
              padding: 0 10% 0 45% !important;
              
              h3 { color: $IGTDarkBlue; }
              p {
                color: $body-font-color;
                @include media-breakpoint-down(lg){ display: none; }
                @include media-breakpoint-down(sm){ display: none; }
              }
              
              p.btn { display: none !important; }
              @include media-breakpoint-down(sm){ padding: 0 7% 0 50% !important; }
            }
          }
        }
      }
      
      &.wrapper_left {
        a {
          .wrapper {
            .wrapper_inner {
              .container {
                padding: 0 45% 0 10% !important;
                @include media-breakpoint-down(sm){ padding: 0 50% 0 7% !important; }
              }
            }
          }
          
          img { @include media-breakpoint-down(sm){ transform: translate(-60%, -50%); } }
        } 
      }
    }
    
    @include media-breakpoint-down(sm){
      max-height: 150px;
      height: 150px;
      position: relative;
      overflow: hidden;
      width: 100%;
      
      .item {
        a {
          height: 150px;
          width: 100%;
        }
      }
      
      img {
        min-height: 150px !important;
        min-width: 100% !important;
        max-width: none !important;
        max-height: none !important;
        width: auto !important;
        height: 150px !important;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        display: block;
        object-fit: cover;
      }
    } 
  }
}

hero-progress-ring {
  position: absolute;
  top: 10px;
  right: 10px;
  
  @include media-breakpoint-down(sm){
    display: none;
    visibility: hidden;
  }
}